In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel("DocumentsData.xlsx")

In [3]:
df.head()

   Id                                           Doc Name
0   1                                     Nozzle, 220542
1   2  Value Collection 15 Inch Long x 12 Inch Wide x...
2   3  Made in USA 18 Inch Long x 13 Inch Wide x 4 mi...
3   4               8"W x 10"L 4mil Clear Reclosable Bag
4   5  Value Collection 12 Inch Long x 9 Inch Wide x ...

In [4]:
df=df.drop('Id',axis=1)

In [24]:
import re
def clean_text(text):
    import string 
    text = re.sub("\d+", "", text)
    text = text.lower()
    text = ' '.join(i for i in text.split(' ') if (len(i)>2) and (i !='mil'))
    translator = str.maketrans('', '', string.punctuation)
    return text.translate(translator)

In [25]:
df['Doc Name'] = df['Doc Name'].apply(clean_text)
df.head()

                                            Doc Name
0                                             nozzle
1  value collection inch long inch wide thick zip...
2  made usa inch long inch wide thick ziplock rec...
3                               clear reclosable bag
4  value collection inch long inch wide thick zip...

In [14]:
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords
sw = stopwords.words('english')
np.array(sw)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kabira\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

array(['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you',
       "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself',
       'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her',
       'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them',
       'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom',
       'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are',
       'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had',
       'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and',
       'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at',
       'by', 'for', 'with', 'about', 'against', 'between', 'into',
       'through', 'during', 'before', 'after', 'above', 'below', 'to',
       'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under',
       'again', 'further', 'then', 'once', 'here', 'there', 'when',
       'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
       'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own',
       'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will',
       'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll',
       'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn',
       "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't",
       'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma',
       'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't",
       'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't",
       'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"],
      dtype='<U10')

In [15]:
def stopwords(text):
    '''a function for removing the stopword'''
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    # joining the list of words with space separator
    return " ".join(text)

In [26]:
df['Doc Name'] = df['Doc Name'].apply(stopwords)
df.head(10)

                                            Doc Name
0                                             nozzle
1  value collection inch long inch wide thick zip...
2  made usa inch long inch wide thick ziplock rec...
3                               clear reclosable bag
4  value collection inch long inch wide thick zip...
5  ansell size industrial grade unpowdered nitril...
6  blue nitrile textured food handling powderfree...
7  diam aluminum oxide quick change disc type att...
8  diam grit aluminum oxide quick change disc typ...
9  diam aluminum oxide quick change disc type att...

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [28]:
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(df['Doc Name'])

In [29]:
true_k = 2
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
    n_clusters=2, n_init=1, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [30]:
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()

In [31]:
for i in range(true_k):
    print('Cluster %d:'%i)
    for ind in order_centroids[i,:10]:
        print('%s' %terms[ind])

Cluster 0:
cobalt
split
jobber
drill
gold
point
finish
ltr
straw
duty
Cluster 1:
steel
screw
socket
hex
grade
cap
drive
head
stainless
alloy